<% content_for :additional_javascripts do %>
  <%= javascript_include_tag 'dashboard' %>
<% end %>
<% content_for :right_column do %>
  <%= render :partial => "common/user_info" %>

  <% if can?(:manage, EnrollmentSemester) %>
    <div class="section">
      <div class="section-header ">
        <h4 class="pull-left">
          <%=t :label_deadline_plural %>
        </h4>
        <%= link_to t(:label_manage), edit_enrollment_semester_path(current_semester), :class => 'pull-right inline-icon inline-icon-red inline-icon-manage' %>
        <div class="clearfix"></div>
        <hr>
      </div>
      <div class="subsection">
        <div class="subsection-header ">
          <h5><%=t :label_thesis_plural %></h5>
          <hr>
        </div>
        <div class="row">
          <div class="col-md-8">
            <h6 class="text-muted">
              <%=t :label_enrollment_begin %>
            </h6>
          </div>
          <div class="col-md-8">
            <h6>
              <%=l current_semester.thesis_enrollments_begin %>
            </h6>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <h6 class="text-muted">
              <%=t :label_enrollment_end %>
            </h6>
          </div>
          <div class="col-md-8">
            <h6>
              <%=l current_semester.thesis_enrollments_end %>
            </h6>
          </div>
        </div>
      </div>
      <div class="subsection">
        <div class="subsection-header">
          <h5><%=t :label_elective_block_plural%></h5>
          <hr>
        </div>
        <div class="row">
          <div class="col-md-8">
            <h6 class="text-muted">
              <%=t :label_enrollment_begin %>
            </h6>
          </div>
          <div class="col-md-8">
            <h6>
              <%=l current_semester.elective_enrollments_begin %>
            </h6>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <h6 class="text-muted">
              <%=t :label_enrollment_end %>
            </h6>
          </div>
          <div class="col-md-8">
            <h6>
              <%=l current_semester.elective_enrollments_end %>
            </h6>
          </div>
        </div>
        <div class="section-header">
          <hr>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

<% if current_user.employee? %>
  <div class="section-header">
    <h4>
      <%=t :label_message_plural %>
    </h4>
    <hr>
  </div>

  <div class="section-footer">
    <hr>
  </div>
  <div class="section-header">
    <h4>
      <%=t :label_thesis_yours %>
    </h4>
    <hr>
  </div>
  <div class="section-menu">
    <h4 class="pull-left">
      <span><%=t :label_display%></span>
      <div class="dropdown">
        <%= link_to t("label_filter_#{DashboardHelper::CONTEXT_FILTERS.first}").downcase, '', 'data-toggle' => 'dropdown', :class => 'context-filter-dropdown context-filter-theses' %>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
          <% DashboardHelper::CONTEXT_FILTERS.each do |filter| %>
            <li>
              <%= form_tag dashboard_index_path do  %>
                <%= hidden_field_tag :context, 'theses' %>
                <%= hidden_field_tag :filter, filter %>
                <%= link_to t("label_filter_#{filter}"), '', :class => 'context-filter' %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </h4>
    <div class="pull-right ">
      <%= button_to diamond.theses_path, :method => :get,  :class => 'inline-btn accept-selected', :type => :button do %>
        <%= hidden_field_tag :supervisor_id, current_user.verifable_id %>
        <%= content_tag :i, nil, :class => 'icon icon-red icon-thesis-list' %>
        <%=t :label_list_move%>
      <% end %>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="theses-list">
    <table class="table">
      <tbody>
        <% if @theses.present? %>
          <%= render :partial => "diamond/common/thesis_record", :collection => @theses %>
        <% else %>
          <tr>
            <td>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="section-menu">
    <div class="pull-right ">
      <%= button_to diamond.theses_path, :method => :get,  :class => 'inline-btn accept-selected', :type => :button do %>
        <%= hidden_field_tag :supervisor_id, current_user.verifable_id %>
        <%= content_tag :i, nil, :class => 'icon icon-red icon-thesis-list' %>
        <%=t :label_list_move%>
      <% end %>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="section-footer extra-margin">
    <hr>
  </div>
<% elsif current_user.student? %>
  <div class="section-header">
    <h4 class="pull-left">
      <%=t :label_thesis_chosen_yours %>
    </h4>
    <%= link_to t(:label_thesis_list_move), diamond.theses_path, :class => 'pull-right inline-icon inline-icon-red inline-icon-thesis-list' %>
    <div class="clearfix"></div>
    <hr>
  </div>
  <table class="table">
    <tbody>
      <% if @enrollments.present? %>
        <%= render :partial => "enrollment_record", :collection => @enrollments %>
      <% else %>
        <tr>
          <td>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="section-header">
    <h4>
      <%=t :label_thesis_yours %>
    </h4>
    <hr>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading"> <%= t("panel.header.theses") %> </div>
    <div class="panel-body">
      <p><%= link_to t("diamond.link.new_thesis"), diamond.new_thesis_path %></p>
      <%= t("panel.body.theses") %>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading"> <%= t("panel.header.elective_subject") %> </div>
    <div class="panel-body">
      <%= t("panel.body.elective_subject") %>
    </div>
  </div>

<% end %>
