<div class="panel panel-default">
  <div class="panel-heading"> <%= t("panel.header.theses") %> </div>
  <div class="panel-body">
    <p><%= link_to t("diamond.link.new_thesis"), diamond.new_thesis_path %></p>
    <%= t("panel.body.theses") %>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading"> <%= t("panel.header.elective_subject") %> </div>
  <div class="panel-body">
    <%= t("panel.body.elective_subject") %>
  </div>
</div>
