<div class="row">
  <div class="col-md-4">
    <h6 class="text-muted">
      <%=t :label_name%>
    </h6>
  </div>
  <div class="col-md-12">
    <h6 class="text-list">
      <%= f.text_field :name, :class => "form-control", :required => true %>
    </h6>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <h6 class="text-muted">
      <%=t :label_surname%>
    </h6>
  </div>
  <div class="col-md-12">
    <h6 class="text-list">
      <%= f.text_field :surname, :class => "form-control", :required => true %>
    </h6>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <h6 class="text-muted">
      <%=t :label_password%>
    </h6>
  </div>
  <div class="col-md-12">
    <h6 class="text-list">
      <%= g.password_field :password, :class => "form-control" %>
    </h6>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <h6 class="text-muted">
      <%=t :label_password_confirmation%>
    </h6>
  </div>
  <div class="col-md-12">
    <h6 class="text-list">
      <%= g.password_field :password_confirmation, :class => "form-control" %>
    </h6>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h6 class="text-muted">
      <%=t :label_title%>
    </h6>
  </div>
  <div class="col-md-12">
    <%= f.select :employee_title_id, options_for_select(@employee_titles.collect{|d| [d.name, d.id] }, @employee.employee_title_id), {}, :class => "form-control" %>
  </div>
</div>
<div class="row" style="<%= "margin-top: 15px;" if can?(:manage, Employee) %>">
  <div class="col-md-4">
    <h6 class="text-muted">
      <%=t :label_academy_unit_employment%>
    </h6>
  </div>
  <div class="col-md-12">
    <%= f.select :department_id, options_for_select(@departments, @employee.department_id), {}, :class => "form-control" %>
  </div>
</div>
<div class="row" style="<%= "margin-top: 15px;" if can?(:manage, Employee) %>">
  <div class="col-md-4">
    <h6 class="text-muted">
      <%=t :label_thesis_reports_to%>
    </h6>
  </div>
  <div class="col-md-12">
    <%= f.select :academy_unit_id, options_for_select(@academy_units, @employee.academy_unit_id), {}, :class => "form-control" %>
  </div>
</div>
<div class="row" style="<%= "margin-top: 15px;" if can?(:manage, Employee) %>">
  <div class="col-md-4">
    <h6 class="text-muted">
      <%=t :label_building_singular%>
    </h6>
  </div>
  <div class="col-md-12">
    <%= f.select :building_id, options_for_select(@buildings, @employee.building_id), {}, :class => "form-control" %>
  </div>
</div>

<div class="row" style="<%= "margin-top: 15px;" if can?(:manage, Employee) %>">
  <div class="col-md-4">
    <h6 class="text-muted">
      <%=t :label_permission_plural%>
    </h6>
  </div>
  <div class="col-md-12">
    <% if can?(:manage, Employee) %>
      <%= g.select :role_id, options_for_select(@roles.collect{|d| [d.name, d.id] }, @employee.user.role_id), {}, :class => "form-control" %>
    <% else %>
      <h6 class="text-list">
        <%= @employee.user.role.name %>
      </h6>
    <% end %>
  </div>
</div>
<div class="extra-margin"></div>