<% content_for :additional_javascript_libraries do %>
  <%= javascript_include_tag "employee" %>
<% end %>
<% content_for :content_heading do %>
  <div class="row">
    <div class="col-md-9">
      <h4>
        <%=t can?(:manage, Employee) ? :label_personal_data_edit : :label_personal_data %>
      </h4>
    </div>
    <div class="col-md-7">
      <div class="pull-right">
        <%= button_to t(:label_update), (employee_path(@employee)), :form => {:method => :put, :class => "form-inline" }, :class => "btn btn-danger submit-form" %>
      </div>
    </div>
  </div>
<% end %>
<% content_for :content_footnote do %>
  <div class="pull-right">
    <%= button_to t(:label_update), (employee_path(@employee)), :form => {:method => :put, :class => "form-inline" }, :class => "btn btn-danger submit-form" %>
  </div>
  <div class="clearfix"></div>
<% end %>
<%= form_for @employee, role: 'form', html: {:class => "employee-form"} do |f| %>
  <%= f.fields_for :user do |g| %>
    <%= render :partial => "form", :locals => {f: f, g: g} %>
    <div class="section-footer">
      <hr>
    </div>
    <div class="section-header">
      <h4>
        <%=t :label_contact_data %>
      </h4>
      <hr>
    </div>
    <div class="form-group extra-margin">
      <%= g.label :email, t(:label_email_yours) %>
      <%= g.text_field :email, :class => "form-control", :placeholder => t(:label_email_yours), :required => true  %>
    </div>
    <div class="form-group extra-margin">
      <%= g.check_box :notifications_confirmation %>
      <%= g.label :notifications_confirmation, t(:notice_email_notifications) %>
    </div>
  <% end %>
<% end %>
