<% content_for :breadcrumbs_box_extra_content do %>
  <div style="margin-right: 20px;">
    <%= form_tag employees_path, :method => :get, :class => "form", :role => "form", remote: true do %>
      <%= text_field_tag :search_by, params[:search_by], :class => "form-control", :placeholder => t(:label_employee_search) %>
    <% end %>
  </div>
<% end %>
<% content_for :content_footnote do %>
  <div class="paginator">
    <%= will_paginate @employees, :renderer => BootstrapPagination::Rails %>
  </div>
  <div class="clearfix"></div>
<% end %>
<table class="table employees">
  <thead>
    <tr>
      <th>
        <%=t :label_personal_data_employee %>
      </th>
      <th>
        <%=t :label_filter_department %>
      </th>
      <th>
        <%=t :label_permissions %>
      </th>
      <th>

      </th>
    </tr>
  </thead>
  <tbody>
    <%= render :partial => "employee", :collection => @employees %>
  </tbody>
</table>