<% if can?(:manage, Settings) %>
  <% content_for :additional_javascripts do %>
    <%= javascript_include_tag 'bootstrap-wysihtml5/bootstrap3-wysihtml5.js' %>
    <%= javascript_include_tag 'bootstrap-wysihtml5/locales/pl-PL.js' %>
    <%= stylesheet_link_tag 'bootstrap3-wysihtml5.css' %>
    <script type="text/javascript">
      $("textarea").wysihtml5({
        stylesheets: ['<%=asset_path "application.css"%>', '<%=asset_path "base.css"%>'],
        useLineBreaks: false
      });
    </script>
  <% end %>
<% end %>
<% content_for :right_column do %>
  <% unless current_user %>
    <div class="section-header">
      <h4>
        <%=t :label_login %>
      </h4>
      <hr>
    </div>
    <%= render :partial => "user_sessions/form" %>
    <div class="clearfix">
    </div>
    <div class="section-footer extra-margin">
      <hr>
    </div>
  <% else %>
    <%= render :partial => "common/user_info" %>
  <% end %>
<% end %>

<div class="main-page">
  <% if can?(:manage, Settings)  %>
    <%= form_for settings do |f| %>
      <div class="form-group">
        <%= f.text_area :welcome_text, :style => "width: 100%;" %>
      </div>
      <div class="pull-right extra-margin">
        <%= f.submit t(:label_save), {:class => "btn btn-danger"} %>
      </div>
      <div class="clearfix"></div>
    <% end %>
  <% else %>
    <%=raw settings.welcome_text  %>
  <% end %>
</div>
<div class="row">
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="subsection-header ">
          <h5 class="pull-left">
            <%=t :label_thesis_plural %>
          </h5>
          <%= link_to t(:label_browse), diamond.theses_path, :class => 'pull-right inline-icon inline-icon-red inline-icon-thesis-list' %>
          <div class="clearfix"></div>
          <hr>
        </div>
        <div class="row">
          <div class="col-md-8">
            <h6 class="text-muted">
              <%=t :label_enrollment_begin %>
            </h6>
          </div>
          <div class="col-md-8">
            <h6 class="text-danger">
              <%= current_semester.thesis_enrollments_begin.present? ? l( current_semester.thesis_enrollments_begin) : "-" %>
            </h6>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <h6 class="text-muted">
              <%=t :label_enrollment_end %>
            </h6>
          </div>
          <div class="col-md-8">
            <h6 class="text-danger">
              <%= current_semester.thesis_enrollments_end.present? ? l( current_semester.thesis_enrollments_end) : "-" %>
            </h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="subsection-header ">
          <h5 class="pull-left">
            <%=t :label_elective_block_plural %>
          </h5>
          <%= link_to t(:label_browse), nil, :class => 'pull-right inline-icon inline-icon-red inline-icon-elective-blocks' %>
          <div class="clearfix"></div>
          <hr>
        </div>
        <div class="row">
          <div class="col-md-8">
            <h6 class="text-muted">
              <%=t :label_enrollment_begin %>
            </h6>
          </div>
          <div class="col-md-8">
            <h6 class="text-danger">
              <%= current_semester.elective_enrollments_begin.present? ? l( current_semester.elective_enrollments_begin) : "-" %>
            </h6>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <h6 class="text-muted">
              <%=t :label_enrollment_end %>
            </h6>
          </div>
          <div class="col-md-8">
            <h6 class="text-danger">
              <%= current_semester.elective_enrollments_end.present? ? l( current_semester.elective_enrollments_end) : "-" %>
            </h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
