<% content_for :right_column do %>
  <% unless current_user %>
    <div class="section-header">
      <h4>
        <%=t :label_login %>
      </h4>
      <hr>
    </div>
    <%= render :partial => "user_sessions/form" %>
    <div class="clearfix">
    </div>
    <div class="section-footer extra-margin">
      <hr>
    </div>
  <% else %>
    <%= render :partial => "common/user_info" %>
  <% end %>
<% end %>

<h4 class="section-title">
  System Zapisów Studentów Wydziału Górnictwa i Geoinżynierii AGH
</h4>

<div class="main-page">
  <p>
    System umożliwia realizację zapisów na tematy prac dyplomowych dla studentów Wydziału Górnictwa i Geoinżynierii oraz wybór przedmiotów/modułów obieralnych.
  </p>

  <p>
    Wybór tematów prac dyplomowych - informacje ogólne:
  </p>
  <ol>
    <li>
      Logowanie do systemu odbywa się poprzez podanie adresu e-mail (zdeklarowanego w systemie XP) oraz hasła (PESEL). W przypadku zmiany adresu e-mail prosimy o kontakt z właściwym Dziekanatem.
    </li>
    <li>
      Tematy prac dyplomowych powinny zostać podane do 30 maja 2014 roku.
    </li>
  </ol>

  <p>Zasady zapisów:</p>
  <ol>
    <li>
      Po opublikowaniu tematów prac studenci mają możliwość konsultacji z promotorami w celu uszczegółowienia tematów. Zmiany należy zgłosić do osoby odpowiedzialnej w Katedrze.
    </li>
    <li>
      Student po zalogowaniu ma możliwość zapisu (<u>w podanym poniżej terminie</u>) na kilka tematów prac.
    </li>
    <li>
      Ostateczną decyzję o przypisaniu studenta do tematu podejmuje promotor pracy. W momencie zaakceptowania zgłoszenia studenta przez promotora, jest on automatycznie odrzucany w pozostałych wybranych tematach.
    </li>
    <li>
      Po zakończeniu zapisów, osobom, które nie wybrały tematów lub nie zostały zaakceptowane przez promotorów, tematy zostaną przydzielone przez Z-cę Kierownika Katedry ds. Kształcenia.
    </li>
  </ol>
  <h4 class="section-title extra-margin">
    <%=t :label_current_terms %>
  </h4>
  <p>
    Wyciąg z Regulaminu Studiów AGH par. 24 punkt 6:<br>
    Tematy prac dyplomowych magisterskich powinny być podjęte przez studentów nie później niż na jeden rok, a prac (projektów) inżynierskich i licencjackich na jeden semestr przed planowym terminem ukończenia studiów.
  </p>
  <p>
    <span class="text-danger">Niespełnienie tego warunku przez studenta/tkę Wydziału Górnictwa i Geoinżynierii będzie przyczyną odmowy wpisu na semestr dyplomowy lub odpowiednio na semestr poprzedzający semestr dyplomowy.</span>
  </p>
</div>
<div class="row">
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="subsection-header ">
          <h5 class="pull-left">
            <%=t :label_thesis_plural %>
          </h5>
          <%= link_to t(:label_browse), diamond.theses_path, :class => 'pull-right inline-icon inline-icon-red inline-icon-thesis-list' %>
          <div class="clearfix"></div>
          <hr>
        </div>
        <div class="row">
          <div class="col-md-8">
            <h6 class="text-muted">
              <%=t :label_enrollment_begin %>
            </h6>
          </div>
          <div class="col-md-8">
            <h6 class="text-danger">
              <%= current_semester.thesis_enrollments_begin.present? ? l( current_semester.thesis_enrollments_begin) : "-" %>
            </h6>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <h6 class="text-muted">
              <%=t :label_enrollment_end %>
            </h6>
          </div>
          <div class="col-md-8">
            <h6 class="text-danger">
              <%= current_semester.thesis_enrollments_end.present? ? l( current_semester.thesis_enrollments_end) : "-" %>
            </h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="subsection-header ">
          <h5 class="pull-left">
            <%=t :label_elective_block_plural %>
          </h5>
          <%= link_to t(:label_browse), nil, :class => 'pull-right inline-icon inline-icon-red inline-icon-elective-blocks' %>
          <div class="clearfix"></div>
          <hr>
        </div>
        <div class="row">
          <div class="col-md-8">
            <h6 class="text-muted">
              <%=t :label_enrollment_begin %>
            </h6>
          </div>
          <div class="col-md-8">
            <h6 class="text-danger">
              <%= current_semester.elective_enrollments_begin.present? ? l( current_semester.elective_enrollments_begin) : "-" %>
            </h6>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <h6 class="text-muted">
              <%=t :label_enrollment_end %>
            </h6>
          </div>
          <div class="col-md-8">
            <h6 class="text-danger">
              <%= current_semester.elective_enrollments_end.present? ? l( current_semester.elective_enrollments_end) : "-" %>
            </h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
