<div class="row">
  <div class="col-md-4">
    <h6 class="text-muted">
      <%=t :label_name%>
    </h6>
  </div>
  <div class="col-md-12">
    <h6 class="text-list">
      <%= f.text_field :name, :class => "form-control", :required => true %>
    </h6>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <h6 class="text-muted">
      <%=t :label_surname%>
    </h6>
  </div>
  <div class="col-md-12">
    <h6 class="text-list">
      <%= f.text_field :surname, :class => "form-control", :required => true %>
    </h6>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <h6 class="text-muted">
      <%=t :label_index_number%>
    </h6>
  </div>
  <div class="col-md-12">
    <h6 class="text-list">
      <%= f.text_field :index_number, :class => "form-control", :required => true %>
    </h6>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <h6 class="text-muted">
      <%=t :label_student_ects_amount%>
    </h6>
  </div>
  <div class="col-md-12">
    <h6 class="text-list">
      <%= f.text_field :ects_amount, :class => "form-control", :required => true %>
    </h6>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <h6 class="text-muted">
      <%=t :label_student_avg_grade %>
    </h6>
  </div>
  <div class="col-md-12">
    <h6 class="text-list">
      <%= f.text_field :avg_grade, :class => "form-control", :required => true, :number => true %>
    </h6>
  </div>
</div>
<%= f.fields_for :student_studies do |ss| %>
  <div class="row">
    <div class="col-md-4">
      <h6 class="text-muted">
        <%=t :label_studies%>
      </h6>
    </div>
    <div class="col-md-6">
      <h6 class="text-list">
        <%= ss.select :studies_id, options_for_select(@studies.collect {|s| [["#{s.course.name} - #{s.study_type.name.downcase} #{s.study_degree.name.camelize(:lower)}", *("(#{s.specialization.name})" if s.specialty_id.present?)].join(" "), s.id] }, ss.object.studies_id), {}, :class => "form-control", :required => true %>
      </h6>
    </div>
    <div class="col-md-6">
      <h6 class="text-list">
        <%= ss.select :semester_number, options_for_select((1..9).collect {|i| ["#{t(:label_semester)} #{i}", i] }, ss.object.semester_number ), {}, :class => "form-control", :required => true %>
      </h6>
    </div>
  </div>
<% end %>
<div class="row">
  <div class="col-md-4">
    <h6 class="text-muted">
      <%=t :label_password%>
    </h6>
  </div>
  <div class="col-md-12">
    <h6 class="text-list">
      <%= g.password_field :password, :class => "form-control" %>
    </h6>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <h6 class="text-muted">
      <%=t :label_password_confirmation%>
    </h6>
  </div>
  <div class="col-md-12">
    <h6 class="text-list">
      <%= g.password_field :password_confirmation, :class => "form-control" %>
    </h6>
  </div>
</div>
<div class="extra-margin"></div>