<div class="row">
  <div class="col-md-4">
    <h6 class="text-muted">
      <%=t :label_name%>
    </h6>
  </div>
  <div class="col-md-12">
    <%= f.text_field :name, :class => "form-control", :required => true %>
  </div>
</div>
<div class="row extra-margin">
  <div class="col-md-4">
    <h6 class="text-muted">
      <%=t :label_surname%>
    </h6>
  </div>
  <div class="col-md-12">
    <%= f.text_field :surname, :class => "form-control", :required => true %>
  </div>
</div>
<div class="row extra-margin">
  <div class="col-md-4">
    <h6 class="text-muted">
      <%=t :label_index_number %>
    </h6>
  </div>
  <div class="col-md-12">
    <%= f.text_field :index_number, :class => "form-control", :required => true, :placeholder => t(:label_index_number_short) %>
  </div>
</div>
<% @student.student_studies.each_with_index do |ss, idx|  %>
  <%= f.fields_for :student_studies, ss do |g| %>
    <%= render :partial => 'student_studies', :locals => { :b => g, :hidden => false, :idx => idx } %>
  <% end %>
<% end %>
<%= new_child_fields_template(f, :student_studies, :options_for_partial => { :idx => 0}, :partial => "student_studies") %>
<div class="row extra-margin">
  <div class="col-md-4">
    <h6 class="text-muted">
      <%=t :label_password%>
    </h6>
  </div>
  <div class="col-md-12">
    <%= g.password_field :password, :class => "form-control" %>
  </div>
</div>
<div class="row extra-margin">
  <div class="col-md-4">
    <h6 class="text-muted">
      <%=t :label_password_confirmation%>
    </h6>
  </div>
  <div class="col-md-12">
    <%= g.password_field :password_confirmation, :class => "form-control" %>
  </div>
</div>
<div class="extra-margin"></div>
