<div class='student-studies'>
  <div class="row">
    <div class="col-md-4">
      <h6 class="text-muted">
        <%=t :label_studies%>
      </h6>
    </div>
    <div class="col-md-8">
      <%= b.select :studies_id, options_for_select([['--', '']] + @studies.collect {|s| [["#{s.course.name} - #{s.study_type.name.downcase} #{s.study_degree.name.camelize(:lower)}", *("(#{s.specialization.name})" if s.specialty_id.present?)].join(" "), s.id] }, b.object.studies_id), {:include_blank => false }, :class => "form-control" %>
    </div>
    <div class="col-md-4">
      <%= b.select :semester_number, options_for_select((1..9).collect {|i| ["#{t(:label_semester)} #{i}", i] }, b.object.semester_number ), {}, :class => "form-control", :required => true %>
      <%= b.hidden_field :student_id, :value => @student.id %>
    </div>
  </div>
  <div class="row" style='margin-top: 10px; margin-bottom: 15px;'>
    <div class="col-md-5 col-md-offset-4">
      <%= b.text_field :passed_ects, :class => "form-control", :placeholder => t(:label_student_ects_amount) %>
    </div>
    <div class="col-md-5">
      <%= b.text_field :average_grade, :class => "form-control", :placeholder => t(:label_student_avg_grade) %>
    </div>
    <div class="col-md-2">
      <div class="pull-right">
        <%= remove_child_button b, :label => "-", :class => "btn btn-primary button-remove-studies inline-form-button hidden" %>
        <%= add_child_button "student_studies", :label => "+", :class => "btn btn-primary button-add-studies inline-form-button" %>
      </div>
    </div>
  </div>
  <hr>
</div>
