<% content_for :breadcrumbs_box_extra_content do %>
  <div style="margin-right: 20px;">
    <%= form_tag students_path, :method => :get, :class => "form", :role => "form", remote: true do %>
      <%= text_field_tag :search_by, params[:search_by], :class => "form-control", :placeholder => t(:label_student_search) %>
    <% end %>
  </div>
<% end %>
<% content_for :content_footnote do %>
  <div class="paginator">
    <%= will_paginate @students, :renderer => BootstrapPagination::Rails %>
  </div>
  <div class="clearfix"></div>
<% end %>
<table class="table students">
  <thead>
    <tr>
      <th>
        <%=t :label_personal_data_student %>
      </th>
      <th>
        <%=t :label_index_number %>
      </th>
      <th>
        <%=t :label_course_singular %>
      </th>
      <th>

      </th>
    </tr>
  </thead>
  <tbody>
    <%= render :partial => "student", :collection => @students %>
  </tbody>
</table>