<% content_for :additional_javascript_libraries do %>
  <%= javascript_include_tag "edit_settings" %>
<% end %>
<% content_for :content_heading do %>
  <div class="row">
    <div class="col-md-9">
      <h4>
        <%=t :label_enrollment_manage%>
      </h4>
    </div>
    <div class="col-md-7">
      <div class="pull-right">
        <%= button_to t(:label_save), (setting_path(current_settings)), :form => {:class => "form-inline" }, :class => "btn btn-danger submit-form" %>
      </div>
    </div>
  </div>
<% end %>
<% content_for :content_footnote do %>
  <div class="pull-right">
    <%= button_to t(:label_save), (setting_path(current_settings)), :form => {:class => "form-inline" }, :class => "btn btn-danger submit-form" %>
  </div>
  <div class="clearfix"></div>
<% end %>
<%= form_for current_settings do |f| %>
  <%= f.fields_for :enrollment_semester, current_settings.enrollment_semester do |g| %>
    <div class="section">
      <div class="subsection-header ">
        <h4><%=t :label_thesis_plural %></h4>
      </div>
      <div class="form-group">
        <div class="col-md-8">
          <%= g.label :thesis_enrollments_begin, t(:label_enrollment_begin) %>
          <div class="input-append date form_datetime">
            <%= g.text_field :thesis_enrollments_begin, :value => l(g.object.thesis_enrollments_begin), :class => "form-control datetime"  %>
            <span class="add-on"><i class="icon-th"></i></span>
          </div>
        </div>
        <div class="col-md-8">
          <%= g.label :thesis_enrollments_end, t(:label_enrollment_end) %>
          <%= g.text_field :thesis_enrollments_end, :value => l(g.object.thesis_enrollments_end), :class => "form-control datetime"  %>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="form-group extra-margin">
        <div class="col-md-8 col-md-offset-8">
          <%= button_tag t(:label_thesis_collection_revert_to_open), {:"data-url" => diamond.collection_revert_to_open_theses_path, :class => "btn btn-danger revert-to-open"}.merge(Diamond::Thesis.denied.any? ? {} : {:disabled => :disabled})  %>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="subsection-header ">
        <h4><%=t :label_elective_block_plural %></h4>
      </div>
      <div class="form-group">
        <div class="col-md-8">
          <%= g.label :elective_enrollments_begin, t(:label_enrollment_begin) %>
          <%= g.text_field :elective_enrollments_begin, :value => l(g.object.elective_enrollments_begin), :class => "form-control datetime"  %>
        </div>
        <div class="col-md-8">
          <%= g.label :elective_enrollments_end, t(:label_enrollment_end) %>
          <%= g.text_field :elective_enrollments_end, :value => l(g.object.elective_enrollments_end), :class => "form-control datetime"  %>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  <% end %>
  <div class="section">
    <div class="subsection-header ">
      <h4><%=t :label_annual_current %></h4>
    </div>
    <div class="form-group">
      <div class="col-md-8">
        <%= f.label :current_annual_id, t(:label_annual) %>
        <%= f.select :current_annual_id, options_for_select(@annuals.collect {|a| [a.name, a.id]}, current_annual.id), {}, :class => "form-control"  %>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
<% end %>
