<div class="alert alert-danger alert-form">
  <% if @message %>
    <strong><%=t(:label_error)%> <%=@status%></strong><br/>
    <%= @message %>
  <% else %>
    <strong><%=t :label_error%>:</strong>
    <%= msg %>
  <% end %>
</div>
