<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application' %>
    <%= yield :additional_stylesheets %>
    <%= javascript_include_tag :application %>
  </head>
  <body>
    <!--[if lt IE 8]>
        <p class="browsehappy">
          You are using an <strong>outdated</strong> browser.
          Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
        </p>
    <![endif]-->
    <nav class="navbar" role="navigation">

      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only"> <%= t("button.toogle_nav") %> </span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Project name</a>

        </div>
        <div class="navbar-nav navbar-right">
          <%= render_navigation(:context => :common, :expand_all => true, :renderer => :bootstrap) %>
        </div>
      </div>
    </nav>

    <div class="container main_container">
      <div class="breadcrumbs_box">
        <div class="row">
          <div class="col-md-10">
            <%= render_navigation(:renderer => :breadcrumbs, :context => :base, :join_with => " &gt; ") %>
          </div>
          <div class="col-md-6">
            <%= yield(:breadcrumbs_box_extra_content) %>
          </div>
        </div>
      </div>
      <% if content_for?(:filter_menu) %>
        <div class="filter_menu">
          <%= yield(:filter_menu) %>
        </div>
      <% end %>
      <div class="top_menu">
        <%= yield(:top_menu) %>
      </div>
      <div class="content">
        <% if content_for?(:content_heading) %>
          <div class="content_heading">
            <%= content_for(:content_heading) %>
          </div>
        <% end %>
        <%= yield %>
      </div>
      <%= yield :additional_javascript_libraries %>

      <footer>
        <p>&copy; OpenSoftware.pl 2014</p>
      </footer>
    </div> <!-- /container -->

  </body>
</html>
