<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application' %>
    <%= yield :additional_stylesheets %>
    <script type="text/javascript">
      var current_language = '<%=current_language%>';
    </script>
    <%= javascript_include_tag "#{current_language}_translations", :application %>

  </head>
  <body>
    <!--[if lt IE 9]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <nav class="navbar" role="navigation">

      <div class="container">
        <div class="navbar-header">
          <%= link_to '', current_user ? main_app.dashboard_index_path : main_app.root_path, :class => "navbar-brand" %>
        </div>
        <div class="navbar-nav navbar-right">
          <%= render_navigation(:context => :common, :expand_all => true, :renderer => :bootstrap) %>
        </div>
      </div>
    </nav>
    <div class="container main_container">
      <div class="breadcrumbs-box">
        <div class="flash-messages">
          <%= render_flash_messages %>
        </div>
        <div class="row">
          <div class="col-md-<%=content_for?(:breadcrumbs_box_extra_content) ? 12 : 16%>">
            <%= render_navigation(:renderer => :breadcrumbs, :context => :base, :join_with => content_tag(:span, "&middot;".html_safe, :class => "sep"), :static_leaf => true) %>
          </div>
          <% if content_for?(:breadcrumbs_box_extra_content) %>
            <div class="col-md-4">
              <%= yield(:breadcrumbs_box_extra_content) %>
            </div>
          <% end %>
        </div>
      </div>
      <% if content_for?(:filter_menu) %>
        <div class="filter-menu">
          <%= yield(:filter_menu) %>
        </div>
      <% end %>
      <div class="top-menu">
        <div class="pull-right">
          <%= render_navigation(:context => :top, :renderer => :bootstrap, :expand_all => true, :join_with => "<span class='sep'>|</span>") %>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="content">
        <% if content_for?(:content_heading) %>
          <div class="content-heading">
            <%= content_for(:content_heading) %>
          </div>
          <hr/>
        <% end %>

        <div class="row content-body">
          <div class="col-md-11">
            <%= yield %>
          </div>
          <div class="col-md-5">
            <% if content_for?(:right_column) %>
              <div class="">
                <%= content_for(:right_column) %>
              </div>
            <% end %>
          </div>
        </div>
        <% if content_for?(:content_footnote) %>
          <div class="content-footnote">
            <hr />
            <%= content_for(:content_footnote) %>
          </div>
        <% end %>
      </div>
      <%= yield :additional_javascript_libraries %>

      <footer>
        <p>&copy; OpenSoftware.pl 2014</p>
      </footer>
    </div>
    <%= yield :additional_javascripts %>
  </body>
</html>
